body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: cursive;
    background-image: url(wp4676582-4k-pc-wallpapers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 300px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.month {
    margin: 0;
    background-color: orangered;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

.day {
    margin-top: 5px;
    font-size: 20px;
    color: rgb(51, 51, 51);
}

.date {
    margin: 0;
    font-size: 80px;
    font-weight: bold;
}

.year {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 500;
    color: rgb(51, 51, 51);

}